<!doctype html>
<html>
  <head>
    <title>Server Side Render</title>
  </head>
  <body>
	<h1>Server Side Render</h1>

	<div>
  		<%- reactOutput %>
	</div>
    <script src="/js/bundle.js"></script>
  </body>
</html>
